
body{
    font-family: 'Oxygen', sans-serif;
    background: #ffffff;
}
p {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 4rem;
    z-index: 2;
    background: #1d3557;  
}

.navbar a {
    color: #f1faee;
}

.navbar .nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid #f1faee; }

.navbar #brand {
    height: 5rem;
    z-index: 3;
    margin-top: 1rem;
    border: #f1faee solid 1px;
    border-radius: 100%;
}

#sep {
    border-top: #f4f4f4 solid 5px;
}

.jumbotron {
    background: #15243c;
    background-image: url("/images/keyboard.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 400px;
    position: relative;
}

#header {
    z-index: 3;
    color: #f1faee;
    position: relative;
}

#welcome {
    color: #f1faee;
}

.overlay {
    
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#whoami {
    background: #012456;
    }
#whoami samp {
    color: #ffffff;
}

#whoami samp #cmdlet {
    color: #ffff00;
}

#whoami samp #bool {
    color: #00FF00;
}

#whoami samp #oper {
    color: #80726C
}

#whoami samp #var {
    color: #008073
}

.footer {
    background: #1d3557;
}

.footer a {
    color: #f1faee;
}

#title h1 {
    color: #1d3557;
}

#social i {
    border: 1px solid #1f1f1f;
    border-radius: 100%;
    background:#457b9d;
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar .nav-link:hover {
        border-bottom: none; 
        color: #008073;
    }
    .jumbotron {
        background-repeat: no-repeat;
        background-position: top;
        min-height: 250px;
    }
}