body {
  padding: 0;
  margin: 0;
  background: #ababab;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #006072;
}
.navbar-collapse {
  justify-content: flex-end;
}
.jumbotron {
  background-image: url('/images/GitHub_Banner.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  
}
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #349beb;
}
.display-4 h1 {
  color: #349beb;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border:1px solid #349beb;
  background:#349beb;
  border-radius: 5;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.features button {
	border:3px solid #006072;
	background: #349beb;
	border-radius: 5;
	color:#fff;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.features h1 {
	color: #006072;
	font-align: center;
}
.features h3 {
	font-align: center;
}
.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}
.navbar-custom {
	background-color: #fff;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 2em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  
.navbar-custom { 
     background-color: #006072; 
   } 
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  

}