<nav class="navbar navbar-expand-md">  
  <span>
    <a class="navbar-brand d-inline d-md-none" href="index.html">\\Andrew Kapaldo</a>
    <a href="https://github.com/AKapaldo" aria-label="GitHub"><i class="fab fa-github fa-lg mr-2" id="git"></i></a>
    <a href="https://www.linkedin.com/in/andrew-kapaldo/" aria-label="LinkedIn"><i class="fab fa-linkedin-in fa-lg" id="linked"></i></a> 
  </span>
  <button class="divided-hamburger navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="border:0;">
    <input type="checkbox" class="trigger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-around" id="navbar">
    <a class="nav-link d-inline d-md-none" href="index.html">Home</a>
    <a class="nav-link" href="index.html#whoAmITop">WhoAmI</a>
    <a class="nav-link" href="index.html#projects">Projects</a>
    <a class="navbar-brand d-none d-md-inline" href="index.html"><img src="images/Avatar.jpg" id="brand" alt="Avatar of Andrew"></a>
    <a class="nav-link" href="resume.html">Resume</a>
    <a class="nav-link" href="#"></a>
  </div>
</nav>
