.difficulty-badge {
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: 4px;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 0.5em;
  
  &.easy { 
    background: #2ecc71; 
    color: #fff; 
  }
  &.medium { 
    background: #f39c12; 
    color: #fff; 
  }
  &.hard { 
    background: #e74c3c; 
    color: #fff; 
  }
  &.insane { 
    background: #8e44ad; 
    color: #fff; 
  }
}

.platform-badge {
  display: inline-block;
  padding: 0.25em 0.75em;
  background: rgba(52,152,219,0.2);
  border: 1px solid rgba(52,152,219,0.4);
  border-radius: 4px;
  font-size: 0.85em;
  margin-right: 0.5em;
}
